.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.top-container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    text-align: left;
}

.output-names label,
.output-names input {
    display: inline-block;
    margin-bottom: 10px;
}

.name-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.canvas-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.toolbar {
    margin-bottom: 20px;
}

.toolbar button.selected {
    background-color: #c8e1ff;
    border-color: #80bdff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.drawing-area {
    width: 70%;
    height: 90%;
    margin: 10px;
    border: 2px solid black;
    position: relative;
}